/*=========================
Rationale for the color scheme and typography:

1. I decided to use big shoulders stencil because it has
a cool modern stencil look which is fitting to my design theme.

2. I choose this color pallette because blue is my favourite color and it
fits to my theme.

3. I choose 'Teko' as my font because I wanna seperate the questions and the answers. And this font 
is suitable for my website style.
===========================*/
h1 {
  text-align: center;
  font-size: 4rem;
  font-family: "Big Shoulders Stencil", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  border: 4px solid blue;
  padding-bottom: 5px;
}

p {
  font-size: medium;
  border-bottom: 2px dashed rgb(232, 161, 30);
  padding-bottom: 20px;
}

body {
  background-color: bisque;
  margin: 0 auto;
}

li {
  font-family: "Teko", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: x-large;
}
