/*=========================
Rationale for the color scheme and typography:

1. I decided to use big shoulders stencil because it has
a cool modern stencil look which is fitting to my design theme.

2. I choose this color pallette because blue is my favourite color and it
fits to my theme.
===========================*/
h1 {
  text-align: center;
  font-size: 3rem;
  font-family: "Big Shoulders Stencil", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  border: 2px solid blue;
}

body {
  background-color: bisque;
}
